Hi, <%= @user.full_name %>!
==========================================

To continue your registration, please confirm your email address through this link:

<%= @url %>

After confirming your email, sign in and finish setting up your account.
If you run into any issues, reply to this email and we'll get everything sorted out!