<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @user.full_name %>!</h2>
    <p>
      To continue your registration, please confirm your email address through this link:<br/>
    </p>
    <a href="<%= @url %>"><%= "#{@url}" %></a>
    <p>After confirming your email, sign in and finish setting up your account.</p><br/><br/>
    <p>If you run into any issues, reply to this email and we'll get everything sorted out!</p>
    <br/>
    <br/>
    <p><i>
      NOTE: This registration will be deleted in five days if your email is
      not confirmed by that time. Requesting new confirmation emails will not
      extend this period.
    </i></p>
  </body>
</html>
